<%- include('partials/header') -%>
<div class="container">
  <h1 class="text-center">Welcome to the Admin Portal</h1>
  <a
    name="logout"
    id="logout"
    class="btn btn-primary"
    href="/admin/logout"
    role="button"
    >Logout</a
  >
</div>
<%- include('partials/footer') -%>
